th {
  background-color: #da2032;
  color: white;
  width: 100px;
  text-align: center;
}
th.mat-sort-header-sorted {
  color: black;
}

.mat-cell {
  max-width: 120px;
  padding: 0 5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mat-header-cell {
  text-align: center;
  width: 100px;
}
.login-with-checkbox {
  display: flex;
  gap: 3px;
  align-items: center;
}
th > .login-with-checkbox {
  padding: 0 5px;
}
.delete-icon {
  cursor: pointer;
  &:hover {
    filter: invert(22%) sepia(85%) saturate(2805%) hue-rotate(340deg)
      brightness(86%) contrast(100%);
  }
}
.mat-elevation-z8 {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
  color: black !important;
}
.checkbox {
  cursor: pointer;
}
.status-blocked {
  color: #ff5065;
}
.status-active {
  color: #1dad4b;
}
.salary-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  margin: 0 auto;
  color: white;
  font-size: 16px;
}
.with-salary {
  background-color: #25b553;
}
.no-salary {
  background-color: #ff001f;
}
.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
.loading {
  position: relative;
}
app-loading-spinner {
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 15;
}
:host ::ng-deep.mat-paginator .mat-paginator-container {
  justify-content: flex-start;
  padding: 0 25px;
  flex-wrap: wrap;
}
.table-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}
.selected-users {
  padding: 0 25px;
}
@media (max-width: 880px) {
  td {
    font-size: 12px;
  }
}
@media (max-width: 820px) {
  tr {
    display: flex;
    flex-wrap: wrap;
  }
  .mat-cell {
    max-width: 100%;
    width: 50%;
    height: 40px;
    padding: 0 20px !important;
    border: 1px solid rgba(183, 183, 183, 0.5);
    margin-top: -1px;
    margin-right: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .mobile-label {
    width: auto;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    display: flex;
    height: auto;
    align-items: start;
    padding: 15px 24px;
  }
  .salary-field {
    margin: 0;
  }
}
@media (max-width: 600px) {
  .mat-cell {
    width: 100%;
  }
}
