<div class="container">
  <div class="header">Фильтр</div>
  <form [formGroup]="form" (submit)="filter()">
    <div class="controls">
      <div class="control">
        <mat-label>Логин</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="login" />
          <mat-error *ngIf="form.get('login')!.invalid">{{
            form.get("login")!.errors!["message"]
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="control">
        <mat-label>Телефон</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="phone" />
          <mat-error *ngIf="form.get('phone')!.invalid">{{
            form.get("phone")!.errors!["message"]
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="control">
        <mat-label>Дата создания</mat-label>
        <mat-form-field appearance="outline">
          <input
            readonly
            matInput
            [matDatepicker]="create_at_picker"
            formControlName="creationTime"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="create_at_picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #create_at_picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="control">
        <mat-label>Статус</mat-label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="status">
            <mat-option value="ACTIVE">Активен</mat-option>
            <mat-option value="BLOCKED">Заблокирован</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="control">
        <mat-label>E-mail</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="email" />
          <mat-error *ngIf="form.get('email')!.invalid">{{
            form.get("email")!.errors!["message"]
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="control">
        <mat-label>Роль</mat-label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="is_admin">
            <mat-option [value]="false">пользователь</mat-option>
            <mat-option [value]="true">Администратор</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="control">
        <mat-label>Дата изменения</mat-label>
        <mat-form-field appearance="outline">
          <input
            readonly
            matInput
            [matDatepicker]="update_at_picker"
            formControlName="updateTime"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matSuffix
            [for]="update_at_picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #update_at_picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" [disabled]="form.invalid">Применить</button>
      <button class="button-gray" type="button" (click)="cancel()">
        Отмена
      </button>
      <button class="button-gray" type="button" (click)="reset()">
        Сбросить
      </button>
    </div>
  </form>
</div>
