.container {
  padding: 3%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.header {
  margin-bottom: 15px;
}
.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
.control {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 220px;
  padding: 10px;
  font-size: 13px;
}
.form-actions {
  margin-top: 15px;
}
.button-gray {
  background-color: #f0f1f1;
  color: #656565;
}
.radio-button {
  margin-right: 7px;
}
