<div class="container">
  <div class="agent">
    <div class="text-with-icon">
      <h2>Суперагент</h2>
      <span class="triangle-icon">&#8227;</span>
    </div>
    <div>Банк ВТБ(ПАО)</div>
  </div>
  <div class="managment">
    <div class="text-with-icon">
      <img class="icon" src="/assets/icons/case.png" />
      Управление
    </div>
    <div class="managment-routes">Карточка контрагента</div>
    <div class="managment-routes">Договоры контрагента</div>
  </div>
  <div class="sub-agent">Субагенты</div>
</div>
