<div class="container">
  <ul>
    <li class="small-screen">Иванов И.И</li>
    <hr class="small-screen" />
    <li class="small-screen">Администрирование</li>
    <hr class="small-screen" />
    <li class="agent">
      <div class="text-with-icon">
        <div class="agent-info">
          <h2>Суперагент</h2>
          <div>Банк ВТБ(ПАО)</div>
        </div>
        <span class="triangle-icon">&#8227;</span>
      </div>
    </li>
    <hr />
    <li class="small-screen">
      <div class="text-with-icon">
        <img class="icon" src="/assets/icons/case.png" />
        Управление
      </div>
    </li>
    <li class="managment">
      <div class="text-with-icon">
        <img class="icon" src="/assets/icons/case.png" />
        Управление
      </div>
      <div class="managment-routes">
        <div>Карточка контрагента</div>
        <div>Договоры контрагента</div>
      </div>
    </li>
    <li>
      <div class="sub-agent">
        <div class="text-with-icon">
          <img src="/assets/icons/sub-agents-icon.png" />
          Субагенты
        </div>
      </div>
    </li>
  </ul>
</div>
