.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100% !important;
  height: 70px;
  padding: 16px 25px;
  background-color: #da2032;
  flex: 0 0 auto;
}
mat-drawer-container {
  flex: 1 1 0;
}
mat-drawer {
  width: 180px;
  overflow: hidden;
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 30px 20px;
  background-color: #f5f6f7;
}
.actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.input-type-choosen {
  background-color: #c4c6c9;
}
button {
  transition: background-color 200ms linear;
}

.filter-icon {
  width: 18px;
  height: 18px;
  filter: invert(100%) sepia(69%) saturate(0%) hue-rotate(181deg)
    brightness(105%) contrast(100%);
}
.profile-info {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 170px;
  height: 38px;
  color: white;
}
.profile-pic {
  background-color: gray;
  border-radius: 20px;
}
.info {
  font-size: 14px;
}
.name {
  font-size: bold;
}
.role {
  font-size: medium;
}

.triangle-icon {
  transform: rotate(90deg);
  cursor: pointer;
  &:hover {
    color: #9b9b9b;
  }
}
.btn {
  cursor: pointer;
  margin: 20px;
}

.icon-bar {
  width: 26px;
  height: 3px;
  background: white;
  margin: 4px;
  position: relative;
}
@media (max-width: 1024px) {
  header {
    height: 55px;
  }
  h1 {
    font-size: 22px;
  }
}
