<div class="container">
  <header>
    <div class="profile-info" *ngIf="!(isSmallScreen$ | async)">
      <div class="avatar">
        <img src="/assets/icons/profile-icon.png" alt="" />
      </div>

      <div class="info">
        <div class="name">Иванов</div>
        <div class="role">Администратор</div>
      </div>
      <span class="triangle-icon">&#8227;</span>
    </div>
    <div (click)="sideBar.toggle()" class="btn" *ngIf="isSmallScreen$ | async">
      <div
        class="icon-bar"
        [@hamburguerX]="!sideBar.opened ? 'hamburguer' : 'topX'"
      ></div>
      <div
        class="icon-bar"
        [@hamburguerX]="!sideBar.opened ? 'hamburguer' : 'hide'"
      ></div>
      <div
        class="icon-bar"
        [@hamburguerX]="!sideBar.opened ? 'hamburguer' : 'bottomX'"
      ></div>
    </div>
  </header>
  <mat-drawer-container>
    <mat-drawer
      [mode]="!(isSmallScreen$ | async) ? 'side' : 'over'"
      [position]="!(isSmallScreen$ | async) ? 'start' : 'end'"
      #sideBar
      [opened]="!(isSmallScreen$ | async)"
    >
      <app-side-bar></app-side-bar
    ></mat-drawer>
    <mat-drawer-content>
      <div class="main-content">
        <div class="content-header">
          <div class="text-with-icon">
            <img src="/assets/icons/back-icon.png" />
            Назад
          </div>
        </div>
        <h1>Настройка учетных записей сотрудников контрагента</h1>
        <div class="actions">
          <div class="edit-buttons">
            <button disabled>
              <div class="text-with-icon">
                Добавить
                <img src="/assets/icons/add-icon.png" alt="" />
              </div>
            </button>
            <button (click)="modify('ACTIVE')" [disabled]="!usersSelected">
              <div class="text-with-icon">
                Разблокировать
                <img src="/assets/icons/checked-icon.png" alt="" />
              </div>
            </button>
            <button (click)="modify('BLOCKED')" [disabled]="!usersSelected">
              <div class="text-with-icon">
                Заблокировать
                <img src="/assets/icons/x-icon.png" alt="" />
              </div>
            </button>
          </div>
          <button (click)="filterToggle()" [class.input-type-choosen]="filter">
            <div class="text-with-icon">
              <img
                class="filter-icon"
                src="/assets/icons/filter-icon.svg"
                alt=""
              />
              Фильтр
            </div>
          </button>
        </div>
        <app-input @trigger *ngIf="filter" (close)="filter = false"></app-input>
        <app-table
          (usersSelected)="usersSelectedStatusChange($event)"
          [changeStatus]="changeStatus"
        ></app-table>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
